body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value to control the transparency */
    border-radius: 20px;
    padding: 40px;
    text-align: center; /* Center-align content within the container */
}

#super-tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.small-board {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Add this style to highlight the next board */
/* Add this style to highlight the next board if it's not full */
.highlight-next {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.9);
}

/* Add this style to highlight all available boards */
.highlight-available {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.9);
}

/* Add this style to highlight available boards that are not completely full */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

body {
    background-image: url('smile.jpg');
    background-size: cover; /* Adjust the background-size property to cover or contain the background */
    background-repeat: no-repeat;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
  }
  