body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.small-board {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Add this style to highlight the next board */
.highlight-next {
    border: 2px solid #00FF00; /* Soft green outline */
}

/* Add this style to highlight all available boards */
.highlight-available {
    border: 2px solid #00FF00; /* Soft green outline */
}

/* Add this style to highlight available boards that are not completely full */
.highlight-available:not(.full) {
    border: 2px solid #00FF00; /* Soft green outline */
}
#player-turn-info {
    font-size: 18px;
    margin-top: 20px;
  }
  
  #player-turn {
    font-size: 30px;
    font-weight: bold;
  }

