body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value to control the transparency */
    border-radius: 20px;
    padding: 30px;
    text-align: center; /* Center-align content within the container */
}

#super-tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.small-board {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Add this style to highlight the next board */
.highlight-next {
    border: 2px solid #00FF00; /* Soft green outline */
}

/* Add this style to highlight all available boards */
.highlight-available {
    border: 2px solid #00FF00; /* Soft green outline */
}

/* Add this style to highlight available boards that are not completely full */
.highlight-available:not(.full) {
    border: 2px solid #00FF00; /* Soft green outline */
}
#player-turn-info {
    margin-top: 20px;
    font-size: 24px;
}
  
  #player-turn {
    font-size: 30px;
    font-weight: bold;
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* ... (existing styles) ... */
body {
    background-image: url('smile.jpg');
    background-size: cover; /* Adjust the background-size property to cover or contain the background */
    background-repeat: no-repeat;
}